button, h3{
    color: darkcyan;
    background-color: white;
    border-radius: 30px;
    border: 3px solid lightblue;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px;
    margin: 15px;
}
button:hover{
    background-color: lightblue;
}
.button{
    margin-left: 50px;
}
img{
    margin-top: 15px;
    margin-left: 170px;
}
.d1{
    border: 3px solid darkcyan;
    padding: 5px;
}
p{
    border-radius: 15px;
    background-color: lightblue;
    padding: 10px;
    margin: 10px 40px;
}